<!-- Page Content -->
<div class="container">

  <div class="app-name">
    A Cat Napp
  </div>

  <%= image_tag "A Cat Napp Transparent.png", :size => "75x75" %>

  <div class="home-sub-title">
    Des solutions pour réduire le temps passé à faire ce qui est nécessaire à la bonne marche de votre entreprise sans générer directement de revenus
  </div>

</div>
<!-- /.container -->
